---
layout: findyourway
title: Find your way in Plasma Mobile
permalink: /findyourway/
---

<div id="wrapper">
    
    <div id="responses">
        <hr>
        <div id="ok"><a href="javascript:">Tell me more</a></div>
        <div id="next">
            <a href="javascript:">
                <span class="negative">No, not interested</span>
                <span class="negative">Show me something else</span>
                <span class="negative">Any other task?</span>
                <span class="negative">Not sure, something else please?</span>
                <span class="negative">Not my line of expertise</span>
                <span class="negative">Next please</span>
            </a>
        </div>
        <div id="back"><a href="javascript:">I was wrong, take me back</a></div>
        
        <noscript>
            <span>Please enable JavaScript in your browser!</span>
        </noscript>
        
    </div>
    
    <div id="footer">Based on <a href="https://github.com/jdm/asknot">asknot</a></div>
</div>
